<% include header %>

      
          <!-- Header - set the background image for the header in the line below -->
          <header class="py-5 bg-image-full" style="background-image: url('http://<%=url%>/images/pexels-photo-826349.jpeg');">
            <div style="height: 400px;"></div>
          </header>
      
          <!-- Content section -->
          <section class="py-5">
            <div class="container">
              <h1>Doctor Free Advice</h1>
              <p>Supplement your doctors advice with real world situations. 
                In many cases, we tend to search online for possible symptoms which may result in unappealing answers. 
                At templo, you can find people from around the world that may have had similar issues and can share their story.

              </p>
            </div>
          </section>
      
          <!-- Image Section - set the background image for the header in the line below -->
          <section class="py-5 bg-image-full" style="background-image: url('http://<%=url%>/images/apple-computer-desk.jpg');">
            <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
            <div style="height: 400px;"></div>
          </section>
      
          <!-- Content section -->
          <section class="py-5">
            <div class="container">
              <h1>No Shame Solution</h1>
              <p>
                  At Templo, we recognize that there are millions of people dealing with many difficulties but living it alone.
                  Sometimes it is hard to share your story in public, which can lead to isolation.
                  Templo allows you to freely express your story anonymously and find the answers youve been hoping for.
              </p>
            </div>
          </section>

                   <!-- Image Section - set the background image for the header in the line below -->
                   <section class="py-5 bg-image-full" style="background-image: url('http://<%=url%>/images/pexels-photo-332825.jpeg');">
                    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
                    <div style="height: 400px;"></div>
                  </section>
              
                  <!-- Content section -->
                  <section class="py-5">
                    <div class="container">
                      <h1>Positive Vibes Only</h1>
                      <p>
                        We take our content very seriously. We only allow quality questions and answers.
                        Any content geared towards harrassment or cyber-bullying will be immediately removed. 
                      </p>
                    </div>
                  </section>

                  <!-- Content section -->
                  <section class="py-5 sign-up-link">
                    <div class="container">
                        <h4><em>Sign up now and find all the answers you need! &nbsp;</em><a href="/signup"><span><button  class="btn btn-danger btn-lg">Sign Up</button></span></a></h4>
                    </div>
                  </section>
      

          <style>   
          .bg-image-full {
                background: no-repeat center center scroll;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                background-size: cover;
                -o-background-size: cover;
            }

            .sign-up-link{
              background-color: lightgray;
            }


            
          </style>

<% include footer %>