<!DOCTYPE html>
<html lang="en">
  <head>
  	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">	
  </head>
  <body>
		
		<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
		

	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand text-danger" href="/" id="temploLogo">TEMPLO</a>
			<div class="btn-group">
                <a href="/admin/questions"><button class="btn btn-sm btn-light">Questions</button></a>
                <a href="/admin/answers"><button class="btn btn-sm btn-light">Answers</button></a>
                <a href="/admin/motivationalquotes"><button class="btn btn-sm btn-light">Motivational Quotes</button></a>
			</div>
    </nav>


    <div class="container" style="margin-top: 5rem; margin-bottom: 5rem;">
    <h1>Motivational Quotes</h1>
    <form action="/admin/motivationalquotes" method="POST">
        <div class="form-row">
            <div class="form-group col-6">
                <input class="form-control" type="text" name="author" placeholder="Author">
                <textarea  rows="5"class="form-control" type="text" name="quote" placeholder="Quote" maxlength="210"></textarea>             
                <button type="submit" class="btn btn-sm btn-primary">Add</button>
            </div>
            
        </div>
    </form>
      <% for (i = 0; i < quotes.length; i++){ %>
        <div class="row">
          <div class="col-lg-12">      
              <ul class="list-group">        
                       <li class="list-group-item"><strong><%=quotes[i].quote%></strong> 
                        <br>
                        <p>Author - <em><%=quotes[i].author%></em></p>
                        <form action="/admin/deletequote/<%=quotes[i]._id%>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-primary float-right">Delete</button>  
                        </form>  
                        </li>          
              </ul>
          </div>

        </div>
      <% } %>
    </div>


    <% include footer.ejs %>