<div class="row">
    <div class="col-12">
        <div class="alert alert-danger" role="alert">
            Templo is currently in beta mode. We are welcoming any feedback to enhance user experience. You can leave feedback <a href="/contactpage">here</a>
        </div>
    </div>
</div>