
<!--Footer-->



    <!-- Copyright-->

      <!-- <div class="footer-copyright py-3 fixed-bottom">
        <div class="row">
          <div class="text-center col-12">
              <span><a href="https://www.facebook.com/templousa/"><i class="fab fa-facebook-square float-left text-white left-button" style="font-size: 24px"></i></a></span>
              Copyright © Templo 2018             
                <span class="float-right right-buttons"><a href="/contactpage"><p class="text-white">Contact</p></a></span>
                <span class="float-right right-buttons"><a href="/aboutpage"><p class="text-white">About</p></a></span>
          </div>
        </div>
      </div>
  -->
    <!--/.Copyright -->

    <!--Footer-->
<footer class="page-footer font-small blue">

    <!--Footer Links-->
    <div class="container-fluid text-center text-md-left">
        <div class="row">

            <!--First column-->
            <div class="col-md-4">
                <h6 class="text-uppercase">Mission</h6>
                <p>To bring people together with similar issues one question at a time.</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-4">
                <h6 class="text-uppercase">Company</h6>
                <ul class="list-unstyled">
                    <li>
                        <a href="/aboutpage" class="text-white">About us</a>
                    </li>
                    <li>
                        <a href="/contactpage" class="text-white">Contact</a>
                    </li>
                    <!-- <li>
                        <a href="#!" class="text-white">Link 3</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Link 4</a>
                    </li> -->
                </ul>
            </div>
            <!--/.Second column-->
                <!--Third column-->
                <div class="col-md-4">
                    <h6 class="text-uppercase">Social</h6>
                    <ul class="list-unstyled">
                        <li>
                            <span><a href="https://www.facebook.com/templousa/"><i class="fab fa-facebook-square text-white left-button" style="font-size: 24px"></i></a></span>
                        </li>
                        <!-- <li>
                            <a href="contactpage" class="text-white">Contact</a>
                        </li> -->
                        <!-- <li>
                            <a href="#!" class="text-white">Link 3</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Link 4</a>
                        </li> -->
                    </ul>
                </div>
                <!--/.Third column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center text-white" style="font-size: 10px;">
        © 2018 Copyright:
        <span> TEMPLO </span>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
                      



<style>



  @media only screen and (min-height: 300px) {
    .page-footer{
        background-color: rgba(0, 0, 0, 0.74);
        color: white;
        font-size: 10px;
        margin-top: 60px;
    }
  }

  @media only screen and (min-height: 813px) {
    .page-footer{
        background-color: rgba(0, 0, 0, 0.74);
        color: white;
        font-size: 10px;
        margin-top: 35%;
    }
  }

    @media only screen and (min-height: 1366px) {
    .page-footer{
        background-color: rgba(0, 0, 0, 0.74);
        color: white;
        font-size: 10px;
        margin-top: 68%;
    }
  }
  

</style>


                      
                        
  </body>
</html>