<% include header.ejs %>
    <div class="container border" style="margin-top: 20%">
            <%if (message && message.length > 0){%>
                <div class="alert alert-info">
                <%=message%>
                </div>
            <%}%>
        <div class="row" style="margin: 40px;">
          <div class="col-md-12">
            <form action="/forgotpassword" method="POST">
              <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="email" placeholder="Enter email" required>
              </div>
              <button type="submit" class="btn btn-danger">Submit</button>
            </form>
    
          </div>
        </div>
    </div>
<% include footer.ejs %>